[submodule "modules/MMM-xiaomi"]
	path = modules/MMM-xiaomi
	url = https://github.com/mirko3000/MMM-xiaomi.git
[submodule "modules/MMM-max"]
	path = modules/MMM-max
	url = https://github.com/mirko3000/MMM-max.git
[submodule "modules/MMM-FRITZ-Box-Callmonitor"]
	path = modules/MMM-FRITZ-Box-Callmonitor
	url = https://github.com/paviro/MMM-FRITZ-Box-Callmonitor.git
[submodule "modules/MMM-Sonos"]
	path = modules/MMM-Sonos
	url = https://github.com/CFenner/MMM-Sonos.git
[submodule "modules/MMM-Wunderlist"]
	path = modules/MMM-Wunderlist
	url = https://github.com/mirko3000/MMM-Wunderlist.git
[submodule "modules/MMM-Tado"]
	path = modules/MMM-Tado
	url = https://github.com/mirko3000/MMM-Tado.git
[submodule "modules/MMM-smarthome"]
	path = modules/MMM-smarthome
	url = https://github.com/mirko3000/MMM-smarthome.git
[submodule "modules/MMM-bringList"]
	path = modules/MMM-bringList
	url = https://github.com/rseidt/MMM-bringList
